# Makefile config (only define path)

# define your CORE path first!
#CORE_DIR=`pwd`

# put your gmp mpfr path here
GMP_DIR=${CORE_DIR}/gmp
MPFR_DIR=${CORE_DIR}/mpfr

# include path
CORE_INCS=-I${CORE_DIR}/inc
GMP_INCS=-I${GMP_DIR}/include
MPFR_INCS=-I${MPFR_DIR}/include
INCS=${CORE_INCS} ${GMP_INCS} ${MPFR_INCS}

# library path
CORE_LIBS=-L${CORE_DIR}/lib
GMP_LIBS=-L${GMP_DIR}/lib
MPFR_LIBS=-L${MPFR_DIR}/lib
LIBS=${CORE_LIBS} ${GMP_LIBS} ${MPFR_LIBS} -lgmp -lmpfr

