# Makefile config (only define path)

# define your CORE path first!
#CORE_DIR=`pwd`

# define core library name
CORE_LIB_NAME=core2++

# put your gmp mpfr path here
GMP_DIR=${CORE_DIR}/gmp
MPFR_DIR=${CORE_DIR}/mpfr

# include path
CORE_INC_FLAGS=-I${CORE_DIR}/inc
GMP_INC_FLAGS=-I${GMP_DIR}/include
MPFR_INC_FLAGS=-I${MPFR_DIR}/include

# library path
CORE_LIB_FLAGS=-L${CORE_DIR}/lib -l${CORE_LIB_NAME}
GMP_LIB_FLAGS=-L${GMP_DIR}/lib -lgmp
MPFR_LIB_FLAGS=-L${MPFR_DIR}/lib -lmpfr

# for building Core Library itself
GMP_MPFR_LIBS=${MPFR_LIB_FLAGS} ${GMP_LIB_FLAGS}

# for linking Core Library
INCS=${CORE_INC_FLAGS} ${MPFR_INC_FLAGS} ${GMP_INC_FLAGS} 
LIBS=${CORE_LIB_FLAGS} ${GMP_MPFR_LIBS} 
