# file: Make.config
# $Id: Make.config,v 1.14 2007-02-06 22:56:29 exact Exp $

# OVERVIEW:
# ========
# This file defines the platform-dependent
#	information for other makefiles.
# It is used to install the Core Library and subsequently
#	to facilitate compilation of user programs
# This is the ONLY place during installation
#	where you need to set a value 
# There are only 4 variables to set (PLATFORM, LINKAGE, VAR, GMP_PREFIX).
#	For most users, it is sufficient to select PLATFORM,
#	and simply accept the defaults for the other variables.
# Variables:
#	(1) PLATFORM determines the Operating System AND compiler.
#		Default is PLATFORM=gnu
#	(2) LINKAGE picks either a static or a shared library
#		Default is LINKAGE=static
#	(3) VAR determines the VARiant of compiled Core Library
#		Default is VAR="" (empty string)
#	(4) GMP_PREFIX -- you only need to set this if you are installing gmp
#		using our Makefile.  This determines where gmp is installed.
#		Default is GMP_PREFIX= ${CORE_PATH}/gmp.
# If you want to look at what options you have currently selected, just
#                    > make options
#       in this directory!
# For further examples of their usage, look at Makefiles found 
#	under individual directories in ${CORE_PATH}/progs/.

#===================================================================
# STEP (1) Choose PLATFORM option:
#    The following values for PLATFORM are available:
#
#    1. gnu, uses the GNU gcc/g++ compiler (the default)
#		PLEASE NOTE: that you can choose this option even if
#		your Operating System is a Sun or Linux.
#    2. sun, uses the Sun WorkShop Compiler CC (verison 5.0) on
#		a solaris machine
#    3. cyg, for cygwin under Microsoft Windows.  This is almost the 
#		same as gnu (except you cannot use shared library)
#    --------
#    4. sgi, uses the SGI MIPSpro Compiler CC (no longer supported)
#
#===================================================================

# Please make your choice the last assignment!
ifndef PLATFORM
	PLATFORM=sgi
	PLATFORM=mingw
	PLATFORM=sun
	PLATFORM=cyg
	PLATFORM=gnu
endif
#===================================================================
# You can stop here if you are willing to accept the default values
# for the other variables.  The default should compile successfully
# in most situations.
#===================================================================
#
#===================================================================
# STEP (2) Choose VARIANT option for compiled library:
#	(which will be placed in ${CORE_PATH}/lib)
#	Variants can be defined for debugging, level2, level3, etc.
#
#	Among the common choices are
#     1. VAR=		-- this creates ${CORE_PATH}/lib/libcore++.a
#                          This is the standard variant.
#     2. VAR=Debug	-- this creates ${CORE_PATH}/lib/libcore++Debug.a
#                          This is the debugging version (executables will be
#                          large because of all the debugging information)
#     3. VAR=NoOpt	-- this creates ${CORE_PATH}/lib/libcore++NoOpt.a
#                          This turns off the optimizations which may
#                          sometimes cause unpredictable behavior
#     4. VAR=DebugBound	-- for debugging rootbound
#===================================================================

# Please make your choice of VAR THE last assignment!
# The assignment be overriden by the including makefile (e.g., under progs)

ifndef VAR
	VAR=NoOpt
	VAR=DebugBound
	VAR=Debug
	VAR=Opt
endif

#===================================================================
# STEP (3) Choose Dynamic or Static link library
#	You choose either dynamic or shared library
#       NOTE: if you choose shared library, be sure to update your
#	environment variable LD_LIBRARY_PATH as follows:
#
#  for "csh", 
#
#	setenv LD_LIBRARY_PATH \
#          ${CORE_PATH}/lib:${CORE_PATH}/gmp/lib:${LD_LIBRARY_PATH}.
#
#  for "bash",
#
#	export LD_LIBRARY_PATH= \
#          ${CORE_PATH}/lib:${CORE_PATH}/gmp/lib:${LD_LIBRARY_PATH}.
#
#	If your gmp is not under the ${CORE_PATH}, then modify appropriately.
#===================================================================

ifndef LINKAGE
	LINKAGE=shared
	LINKAGE=static
endif

# detect extension name for executable files
# and disable to build shared library under cygwin and mingw
OS=$(shell uname)
EXETYPE=

CYGWIN=${findstring CYGWIN, ${OS}}
ifeq (${CYGWIN}, CYGWIN)
  EXETYPE=.exe
  LINKAGE=static
endif

MINGW=${findstring MINGW, ${OS}}
ifeq (${MINGW}, MINGW)
  EXETYPE=.exe
  LINKAGE=static
endif

#===================================================================
# STEP (4) Choose Directory for Installing GMP 
#	Skip this if you already have gmp
# Please make your choice the last assignment!
#===================================================================

ifndef GMP_PREFIX
	GMP_PREFIX=${CORE_PATH}/gmp
endif

#===================================================================
# STOP HERE: Do not modify the script below.
#
# It will automatically set the compilation/linking flags 
#===================================================================

# Compilation Variable Definition
#
# CXX           -- C++ Compiler
# CC            -- C Compiler (used only when compiling GMP)
# AR            -- Library Archiver
# CXXFLAGS      -- C++ Compiler flags for building test programs
# CORE_CXXFLAGS -- C++ Compiler flags for building Core and Extension Library
# LDFLAGS       -- Linker flags for building test programs
# CORE_LDFLAGS  -- Linker flags for building Core and Extension Library

# TEMP FIX (CHEE: PICFLAG=-fPIC causes warning on cygwin?)
PICFLAG =  

ifeq ($(PLATFORM), sgi)

# NOTE: The SGI option has been deprecated since Version 1.4
# (1) SGI compiler
#	-- This has been tested on IRIX (not tested) 
ifndef	CXX
	CXX=CC
endif
ifndef	CC
	CC=cc
endif
AR=ar rcs

CXXFLAGS=-n32 -mips4 -ptused -prelink -w -cckr -O \
         -LANG:ansi-for-init-scope=on -lm -D$(PLATFORM)

else
ifeq ($(PLATFORM), sun)

# (2) SUN's compiler
#	-- This has been tested on sun sparcs 
ifndef	CXX
	CXX=CC
endif
ifndef	CC
	CC=cc
endif
AR=${CXX} -xar -o

ifeq (${VAR}, Debug)
  CXXFLAGS=-g -D$(PLATFORM)
else	
  CXXFLAGS=-O -DNDEBUG -DCORE_DEBUG -D$(PLATFORM)
endif

ifeq (${VAR}, DebugBound)
  CXXFLAGS=-g -DCORE_DEBUG_ROOTBOUND -D$(PLATFORM)
else	
  CXXFLAGS=-O -DNDEBUG -DCORE_DEBUG -D$(PLATFORM)
endif

ifeq (${LINKAGE}, shared)
  PICFLAG=-KPIC
  LDFLAGS=
  CORE_CXXFLAGS=${CXXFLAGS} ${PICFLAG}
  CORE_LDFLAGS=-G
else
  LDFLAGS=-Bstatic
  CORE_CXXFLAGS=${CXXFLAGS}
  CORE_LDFLAGS=
endif

else

# (3) GNU's g++ compiler (the default)
#	-- this covers both PLATFORM=gnu and PLATFORM=cyg	
#	-- This has been tested on Linux and Sun Sparc
#
ifndef	CXX
	CXX=g++
endif
ifndef	CC
	CC=gcc
endif
AR=ar rcs

ifeq (${VAR}, Debug)
  CXXFLAGS=-g -Wall -D$(PLATFORM)
else
  CXXFLAGS=-O2 -Wall -DNDEBUG -DCORE_DEBUG -D$(PLATFORM)
endif

ifeq (${VAR}, DebugBound)
  CXXFLAGS=-g -DCORE_DEBUG_ROOTBOUND -D$(PLATFORM)
endif

ifeq (${VAR}, Opt)
  CXXFLAGS=-O2 -Wall -DNDEBUG -D$(PLATFORM)
endif

ifeq (${VAR}, NoOpt)
  CXXFLAGS=-Wall -O2 -DNDEBUG -DCORE_DISABLE_MEMORY_POOL -D$(PLATFORM)
endif

ifeq (${LINKAGE}, shared)
  PICFLAG=-fPIC
  LDFLAGS=
  CORE_CXXFLAGS=${CXXFLAGS} ${PICFLAG} 
  CORE_LDFLAGS=-shared
else
  LDFLAGS=-static
  LDFLAGS=
  CORE_CXXFLAGS=${CXXFLAGS}
  CORE_LDFLAGS=
endif

endif
endif

