# Rod Robot in 3D 
# empty input

interactive = 0		# 0=interactive, >0 is non-interactive

startX = 190		# start configuration
startY = 320
startZ = 120
startRoll = 1
startPitch = 0.1
startYaw = 0.0
goalX = 360	# goal configuration
goalY = 320
goalZ = 350
goalRoll = 0
goalPitch = -0.1
goalYaw = 1


epsilon = 16	# resolution parameter

len = 60		# rod length

inputDir = inputs	# where to find input files
fileName = hanoi.txt	# input environment file

boxWidth = 512		# initial configuration box size
boxHeight = 512

windowPosX = 320	# initial Window position
windowPosY = 20	

Qtype = 5	# type of priority queue
			#  (0=random, 1=BFS, 2=Greedy Best First, 3=Dist+size, 4=Vor, 5=Bi-Vor) 
seed = 11		# seed for random
step = 0		# number of steps to run
			#	(step=0 means run to completion)
xtrans = 0		# x-translation of input file
ytrans = 0		# y-translation of input file
scale = 1		# scaling of input file

animationSpeed = 90

verbose = 0		# if true, display statistics
